<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-audiocontroller"
    version="1.0.0">
    <name>Cordova Plugin Audio Controller</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/bhvr-business-solutions/cordova-plugin-audiocontroller.git</repo>
    <issue>https://github.com/bhvr-business-solutions/cordova-plugin-audiocontroller/issues</issue>

    <!-- android -->
    <platform name="android">
    
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="AudioController" />
      </js-module>

    <framework src="com.android.support:support-media-compat:27.0.2"/>
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AudioController" >
				<param name="android-package" value="com.mokto.audiocontroller.AudioController"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="com.mokto.audiocontroller.AudioControllerNotificationKiller"></service>
		</config-file>

		<source-file src="src/android/AudioController.java" target-dir="src/com/mokto/audiocontroller" />
		<source-file src="src/android/AudioControllerBroadcastReceiver.java" target-dir="src/com/mokto/audiocontroller" />
		<source-file src="src/android/AudioControllerNotification.java" target-dir="src/com/mokto/audiocontroller" />
		<source-file src="src/android/AudioControllerNotificationKiller.java" target-dir="src/com/mokto/audiocontroller" />
		<source-file src="src/android/AudioControllerInfos.java" target-dir="src/com/mokto/audiocontroller" />
		<source-file src="src/android/KillBinder.java" target-dir="src/com/mokto/audiocontroller" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="AudioController" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="AudioController">
                <param name="ios-package" value="AudioController" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/AudioController.h" />
        <source-file src="src/ios/AudioController.m" />
		<header-file src="src/ios/MusicControlsInfo.h" />
		<source-file src="src/ios/MusicControlsInfo.m" />
    </platform>
</plugin>
